<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pet - Apawtment</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body class="pattern-bg">

    <!-- NAVBAR -->
    <header class="navbar">
        <div class="nav-group">
            <span class="logo">Apawtment</span>
            <a href="../templates/mypet.html">My pet</a>
            <a href="../templates/profile.html">Profile</a>
        </div>
    </header>

    <!-- MAIN CONTENT -->
    <div class="mypet-wrapper">

        <!-- LEFT: PET INFO -->
        <section class="pet-card">
            <img src="../images/cat.webp" class="pet-photo" alt="pet">

            <div class="pet-info">
                <h2 class="pet-name">PiPi</h2>

                <p>Age : 1 years old <br> Weight : 10 lb</p>

                <div class="pet-tags">
                    <span class="tag smart">Smart</span>
                    <span class="tag shy">Shy</span>
                    <span class="tag foodie">Foodie</span>
                </div>
            </div>
        </section>

        <!-- MIDDLE: REMINDER -->
        <section class="reminder-card">
            <h3>Reminder:</h3>

            <ul>
                <li>Scoop the litter box</li>
                <li>Get cat treats</li>
                <li>Clean the ears</li>
                <li>Give flea/tick treatment</li>
            </ul>

            <button class="small-btn">add new reminder</button>
            <button class="small-btn">edit & delete</button>
        </section>

        <!-- RIGHT: TODAY FACT -->
        <section class="fact-card">
            <h3>Did you know?</h3>
            <p class="fact-text">
                Cats have a unique reflective layer behind their retinas 
                called the tapetum lucidum. It helps them see in very low 
                light — giving them up to six times better night vision 
                than humans!
            </p>
            <img src="../images/did-you-know.png" class="fact-img">
        </section>

    </div>

</body>
</html>
